Bonjour merci de nous rejoindre et de nous faire confiance.<br>
Bienvenue sur Hankuk Place <br><br>
Voici votre email de confirmation :
<a href="{{ url('confirm_account', {"token": token}) }}">Cliquez ici pour confirmer votre compte</a>
